* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inconsolata", monospace;
    background: url("background.jpg") center no-repeat;
    background-size: cover;
    color: #eeeeee;
}
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}
button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
ul li {
    list-style-type: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.left-title {
    font-size: 52px;
}
.left-title::after {
    display: block;
    margin-top: 25px;
    content: "";
    width: 30%;
    height: 2px;
    background: -webkit-linear-gradient(68deg, #f6fd9b,#c4c700);/* Chrome 10-25, Safari 5.1-6 */                         
    background: linear-gradient(68deg, #f6fd9b,#c4c700);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}
.center-title {
    text-align: center;
    font-size: 52px;
}
.center-title::after {
    display: block;
    margin: 25px auto 0;
    content: "";
    width: 70px;
    height: 2px;
    background: -webkit-linear-gradient(68deg, #f6fd9b,#c4c700);/* Chrome 10-25, Safari 5.1-6 */                         
    background: linear-gradient(68deg, #f6fd9b,#c4c700);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.section-text {
    line-height: 180%;
    color: #d1d1d1;
    font-size: 20px;
}
.yellow-btn {
    padding: 15px 40px;
    border: 1.5px solid #E0B100;
    border-radius: 20px;
    font-weight: 500;
}
.yellow-btn:hover {
    color: #E0B100;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 700;
    padding: 15px 0;
    /*
    background: -webkit-linear-gradient(133deg, #e9e10c,#212121,#bdbdbd);                     
    background: linear-gradient(133deg, #e9e10c,#212121,#bdbdbd);  
    */
    z-index: 2;
}
.header-wrap {
    display: flex;
    align-items: center;
}
.header-logo img, .footer-logo img {
    /*filter: invert(1);*/
    width: 100px;
    height: 100px;
    border-radius: 40%;
}
.header-nav {
    margin-left: auto;
}
.header-nav-link {
  display: inline-block;
  cursor: pointer;
}

.header-nav-link span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-nav-link:hover span {
  animation: wave 0.6s ease forwards;
}

.header-nav-link:hover span:nth-child(1) { animation-delay: 0s; }
.header-nav-link:hover span:nth-child(2) { animation-delay: 0.02s; }
.header-nav-link:hover span:nth-child(3) { animation-delay: 0.04s; }
.header-nav-link:hover span:nth-child(4) { animation-delay: 0.06s; }
.header-nav-link:hover span:nth-child(5) { animation-delay: 0.08s; }
.header-nav-link:hover span:nth-child(6) { animation-delay: 0.10s; }
.header-nav-link:hover span:nth-child(7) { animation-delay: 0.12s; }
.header-nav-link:hover span:nth-child(8) { animation-delay: 0.14s; }
.header-nav-link:hover span:nth-child(9) { animation-delay: 0.16s; }
.header-nav-link:hover span:nth-child(10) { animation-delay: 0.18s; }
.header-nav-link:hover span:nth-child(11) { animation-delay: 0.20s; }
.header-nav-link:hover span:nth-child(12) { animation-delay: 0.22s; }
.header-nav-link:hover span:nth-child(13) { animation-delay: 0.24s; }
.header-nav-link:hover span:nth-child(14) { animation-delay: 0.26s; }
@keyframes wave {
  0%, 100%   { transform: translateY(0); }
  30%  { transform: translateY(-7px); }
  60%  { transform: translateY(1.5px); }
}
.header-nav-link-transperent {
    color: transparent;
}
.header-nav-list, .footer-nav-list {
    display: flex;
    gap: 40px;
}
.header-nav-list li a, .footer-nav-list li a {
    font-size: 22px;
}
.header-nav-list li a:hover, .footer-nav-list li a:hover {
    color: #c9c200;
}
/*
.burger-icon {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}
.menu a:last-child {
    border-bottom: none;
}
.burger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.burger-icon.open span:nth-child(2) {
    opacity: 0;
}
.burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
.menu {
    position: fixed;
    top: 0;
    right: -100%;  
    width: 60%;
    height: 100vh;
    background-color: #223618;
    display: flex; 
    gap: 50px;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 999;
}
.menu.open {
    right: 0; 
}

@media (max-width: 1090px) { 
    .burger-menu {
        display: flex;
    }
    .header-nav-list {
        display: none;
    }
    .header-nav-link {
        display: none;
    }
    .burger-icon {
        display: flex; 
    }
}
*/
.header-email {
    margin-left: 100px;
    font-size: 18px;
    border: 1px solid #ffd700;
    border-radius: 20px;
    padding: 12px 24px;
}
.header-email:hover {
    color: #cec600;
}
#banner-section {
    position: relative;
    height: 100vh;
}
.banner-wrap {
    font-family: "Handjet", sans-serif;
    max-width: 800px;
    padding-top: 200px;
}
.banner-title {
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 15px;
}
.banner-text {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 20px 0 40px;
}
.banner-btn img {
    filter: invert(1);
    width: 100px;
    transition: 0.8s;
}
.banner-btn img:hover {
    /*filter: invert(93%) sepia(50%) saturate(1681%) hue-rotate(1deg) brightness(78%) contrast(90%);*/
    animation: banner-btn 0.6s ease forwards;
}
@keyframes banner-btn {
  0%, 100%   { transform: translateY(0); }
  30%  { transform: translateY(-7px); }
  60%  { transform: translateY(1.5px); }
}
.about-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-left {
    max-width: 450px;
}
#about-section .section-text {
    margin: 20px 0 40px;
}
.about-right img {
    height: 500px !important;
}
#technology-section {
    padding: 25px 0;
    position: relative;
}
#technology-section::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 31, 0.8);
    z-index: -1;
}
.technology-wrap {
    display: flex;
    justify-content: space-between;
}
.technology-left {
    max-width: 450px;
}
#technology-section .left-title {
    margin-bottom: 20px;
}
.technology-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-row-gap: 80px;
    text-align: center;
}
.technology strong {
    display: block;
    font-size: 40px;
    margin-bottom: 16px;
}
.technology p {
    font-size: 18px;
    line-height: 150%;
}
#gallery-section {
    padding: 25px 0;
}
.gallery-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}
.gallery {
    position: relative;
    overflow: hidden;
}
.gallery::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "Увеличить";
    background-color: #443E3EB8;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 28px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s;
}
.gallery::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 48px;
    height: 48px;
    background: url("gallery-search.png") 50%/cover no-repeat;
    filter: invert(1);
    margin-top: -35px;
    opacity: 0;
    transition: 0.3s;
}
.gallery-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 1px solid #fff; 
    opacity: 0;
    transition: 0.3s;
}
.gallery:hover::before, .gallery:hover::after, .gallery:hover .gallery-border {
    opacity: 1;
}
.gallery img {
    border-radius: 20px;
}
#fishing-section {
    padding: 25px 0;
}
.fishing-wrap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.fishing-left {
    max-width: 600px;
}
#fishing-section .section-text {
    margin: 20px 0;
}
.fishing-details {
    cursor: pointer;
}
.fishing-details:not(:last-child) {
    margin-bottom: 20px;
}
.fishing-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.fishing-right img {
    border-radius: 20px;
}
#projects-section {
    padding: 25px 0 50px;
}
#projects-section .center-title{
    margin-bottom: 40px;
}
.projects-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.projects {
    border: 0.1px solid #c4c700;
    border-radius: 10px;
    transition: 0.3s;
}
.projects:hover {
    box-shadow: 0 0 54px #9D822B;
}
.projects img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.projects-info {
    padding: 20px;
}
.projects-title {
    font-size: 22px;
}
.projects-text {
    max-width: 300px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 160%;
}
.projects-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
}
.projects-link:hover {
    color: #E0B100;
}
#teacher-section {
    padding: 25px 0 50px;
    position: relative;
}
#teacher-section::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 31, 0.8);
    z-index: -1;
}
.teacher-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#name {
    margin-top: 15px;
    font-size: 32px;
    font-weight: 700;
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
#footer {
    position: relative;
}
#footer::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 31, 0.8);
    z-index: -1;
}
#footer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E0B100;
}
.footer-wrap {
    display: flex;
    align-items: center;
}
.footer-left {
    padding-top: 40px 20px;
}
.footer-logo {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer-title {
    font-size: 30px;
}
.footer-right {
    border-left: 1px solid #E0B100;
    width: 100%;
    display: block;
    align-items: center;
    padding: 80px 0 80px 40px;
}
.footer-right-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right-button {
    margin-top: 40px;
    transform: translateX(25%); 
}
.footer-right-button a:hover {
    color: #E0B100;
}
.footer-copyright {
    padding: 20px 0;
    border-top: 1px solid #E0B100;
    text-align: center;
}
.footer-copyright-text {
    font-size: 18px;
    font-weight: 300;
    color: #f6e08d;
}
.lang-popup {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #002713;
  color: white;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 10;
  text-align: center;
  font-family: sans-serif;
}
.lang-popup p {
  margin: 0 0 10px 0;
  font-size: 33px;
}
.lang-popup .lang-wrap {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.lang-popup button {
  padding: 10px 32px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: #000000;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.lang-popup button:hover {
  background-color: #d3f3e1;
}
@media (max-width: 700px) {
  .lang-popup p {
    font-size: 23px;
  }
  .lang-popup button {
    width: 100px;
    font-size: 23px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px; 
  }
}
@media (max-width: 1024px) {
  .banner-wrap {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    padding: 0 20px;
    max-width: 100%; 
  }
  .banner-title {
    font-size: 70px;
    letter-spacing: 10px;
  }
  .banner-text {
    font-size: 28px;
    letter-spacing: 6px;
    margin: 15px 0 30px;
  }
  .banner-btn img {
    width: 80px;
  }
}
@media (max-width: 600px) {
    .footer-right-button {
        font-size: 25px;
    }
  .banner-wrap {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    padding: 0 15px;
  }
  .banner-title {
    font-size: 62px;
    letter-spacing: 5px;
  }
  .banner-text {
    font-size: 30px;
    letter-spacing: 3px;
    margin: 12px 0 21px;
  }
  .banner-btn img {
    width: 60px;
    margin-top: 80px;
  }
}
@media (max-width: 1024px) {
    .about-wrap {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .about-left {
        max-width: 100%;
        padding: 0 20px;
    }
    #about-section .left-title::after {
        margin: 25px auto 0;
    }
    .about-right img {
        height: 600px !important;
    }
}
@media (max-width: 768px) {
    .about-wrap {
        gap: 20px;
    }
    .about-left {
        padding: 0 15px;
    }
    #about-section .left-title::after {
        margin: 25px auto 0;
    }
    #about-section .section-text {
        margin: 15px 0 30px;
    }
    .about-right img {
        height: 400px !important;
        width: 100%;
        object-fit: contain;
    }
}
@media (max-width: 480px) {
    .about-right img {
        height: 300px !important;
    }
    .left-title {
        font-size: 24px;
    }
    #about-section .left-title::after {
        margin: 25px auto 0;
    }
    .section-text {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
  .technology-wrap {
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .technology-left {
    max-width: 60%;
    margin-bottom: 30px;
  }
  .technology-right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .technology-wrap {
    padding: 0 15px;
    flex-direction: column;
  }
  #technology .section-text {
    max-width: 300px;
    font-size: 20px;
  }
  .technology-left {
    max-width: 60%;
    margin-bottom: 20px;
  }
  .technology-right {
    width: 100%;
    display: block;
  }
  .technology {
    margin-bottom: 25px;
    text-align: left;
  }
    .technology p {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
  .gallery-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 20px;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .center-title {
    font-size: 42px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .gallery-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 0 15px;
  }
  .gallery::before {
    font-size: 22px;
  }
  .gallery::after {
    width: 36px;
    height: 36px;
    margin-top: -30px;
  }
  .gallery-border {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
  .center-title {
    font-size: 49px;
    padding: 0 15px;
  }
}
@media (max-width: 1024px) {
  .fishing-wrap {
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    gap: 30px;
  }
  .fishing-left {
    max-width: 100%;
  }
  .fishing-right img {
    display: none;
  }
  .fishing-title {
    font-size: 18px;
  }
  #fishing-section .section-text {
    font-size: 18px;
    line-height: 1.6;
  }
}
@media (max-width: 600px) {
  .fishing-wrap {
    flex-direction: column;
    padding: 0 15px;
    gap: 25px;
  }
  .fishing-left {
    max-width: 100%;
  }
  .fishing-right {
    display: none;
  }
  .fishing-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  #fishing-section .section-text {
    font-size: 15px;
    margin: 15px 0;
  }
  .fishing-details {
    padding-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .projects-wrap {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 20px;
  }
  .projects {
    display: flex;
    flex-direction: row;
    height: 180px;
    overflow: hidden;
  }
  .projects img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
  .projects-info {
    padding: 18px;
    display: flex;
    flex-direction: column;
  }
  .projects-title {
    font-size: 38px;
  }
  .projects-text {
    font-size: 26px;
    max-width: 100%;
  }
  .projects-link {
    font-size: 32px;
    position: absolute;
    margin-left: 45%;
    margin-top: 105px;
  }
}
@media (max-width: 600px) {
  .projects-wrap {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 15px;
  }
  .projects {
    flex-direction: row;
    height: auto;
  }
  .projects img {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
  .projects-info {
    padding: 17px;
  }
  .projects-title {
    font-size: 35px;
  }
  .projects-text {
    font-size: 24px;
    margin: 8px 0;
  }
  .projects-link {
    font-size: 30px;
    position: absolute;
    margin-left: 45%;
    margin-top: 70px;
  }
  #projects-section .center-title {
    font-size: 28px;
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .teacher-wrap {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 25px;
  }
  #name {
    font-size: 28px;
    margin-top: 0;
  }
  #teacher-section .yellow-btn {
    align-self: flex-start;
    padding: 12px 32px;
  }
  .left-title {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .teacher-wrap {
    display:flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 15px;
  }
  #name {
    font-size: 22px;
  }
  #teacher-section .yellow-btn {
    font-size: 16px;
    padding: 10px 24px;
  }
  .left-title {
    font-size: 28px;
    line-height: 1.3;
  }
}
@media (max-width: 1024px) {
  .footer-wrap {
    flex-direction: column;
    gap: 30px;
    padding: 40px 25px;
  }
  .footer-left {
    padding: 0;
  }
  .footer-logo {
    width: 100%;
    justify-content: center;
  }
  .footer-right {
    border-left: none;
    border-top: 1px solid #E0B100;
    width: 100%;
    gap: 25px;
    padding-top: 40px;
  }
  .footer-nav-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .footer-nav-link {
    font-size: 20px;
  }
  .footer-title {
    font-size: 90px;
  }
}
@media (max-width: 600px) {
  .footer-wrap {
    flex-direction: column;
    padding: 30px 15px;
    gap: 25px;
  }
  .footer-logo {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .footer-title {
    font-size: 40px;
  }
  .footer-right {
    padding-top: 15px;
    margin-top: 15px;
    display: block;
  }
  .footer-nav-list {
    align-items: center;
    gap: 26px;
  }
  .footer-nav-link {
    font-size: 25px;
  }
  .yellow-btn {
    padding: 10px 24px;
    font-size: 16px;
  }
  .footer-copyright-text {
    font-size: 14px;
  }
}